:root{
  
  --pr-grayish-blue: hsl(212, 23%, 69%);
  --pr-desaturated-dark-blue: hsl(214, 17%, 51%);
  --pr-very-dark-grayish-blue: hsl(210, 46%, 95%);
  --pr-light-grayish-blue: hsl(210, 46%, 95%);

  
  --fw-500: 500;
  --fw-700: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
svg{
  display: block;
  max-width: 100%;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

img,
svg{
  display: block;
  max-width: 100%;
}

.flow > *:where(:not(:first-child)) {
  margin-top: 1rem;
}

body{
  padding: 1rem;
  background-color: var(--pr-very-dark-grayish-blue);
  font-family: Manrope, sans-serif;
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.container{
  /* border: 1px solid black; */
}

.card{
  /* border: 2px solid red; */
  max-width: 730px;
  display: flex;
  align-items: stretch;
}

.card-image{
  max-width: 286px;
}

.card-image img{
  height: 100%;
  border-top-left-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
}

.card-content{
  /* border: 2px solid green; */
  max-width: 446px;
  padding: 2.3rem;
  background-color: white;
  border-top-right-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
}

h2{
  font-size: 1.25rem;
}

.card-content p{
  font-size: 0.875rem;
  line-height: 1.5;
}

.michelle{
  height: 3rem;
  border-radius: 50%;
}

h3,
span{
  font-size: 0.875rem;
}

.first-flex-group{
  display: flex;
  gap: 1rem;
}

.flex-group{
  align-self: center;
}

.card-bottom{
  display: flex;
  justify-content: space-between;
}

.share-button{
  align-self: center;
  background-color: var(--pr-light-grayish-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}

.share-button img{
  height: 1rem;
}